{
  "openapi": "3.0.3",
  "info": {
    "title": "TMI (Threat Modeling Improved) API",
    "description": "A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.\n\n## API Design v1.1.0\n\n### Authorization Model\nTMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.\n\n### Bulk Operations\nNotes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).\n\nAll resources support bulk metadata operations regardless of resource-level bulk support.\n\n### List Response Strategy\n- ThreatModels return summary information (TMListItem) because they contain many child objects that can be large.\n- Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large.\n- Notes return summary information (NoteListItem) because the content field can be large.\n- Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.\n\n### PATCH Support\nAll resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for:\n- Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates\n- Notes: Updating name/description without changing content field\n- All resources: Efficient updates without full object replacement\n",
    "version": "1.2.1",
    "contact": {
      "name": "TMI Development Team",
      "url": "https://github.com/ericfitz/tmi",
      "email": "api@tmi.local.dev"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "externalDocs": {
    "description": "Find more information here",
    "url": "https://github.com/ericfitz/tmi/wiki"
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.tmi.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token for authenticated requests. This implementation follows RFC8725 JWT Best Current Practices for secure token validation, audience verification, and expiration enforcement."
      }
    },
    "schemas": {
      "ApiInfo": {
        "type": "object",
        "description": "API information response for the root endpoint",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "OK",
                  "DEGRADED",
                  "ERROR"
                ],
                "description": "Status code indicating system health: OK (all components healthy), DEGRADED (server up but database or Redis unhealthy), ERROR (critical failure)",
                "pattern": "^[a-zA-Z0-9_-]*$",
                "maxLength": 512
              },
              "time": {
                "type": "string",
                "format": "date-time",
                "description": "Current server time in UTC, formatted as RFC 3339",
                "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]{1,6})?(Z|[+-][0-9]{2}:[0-9]{2})$",
                "maxLength": 64
              }
            },
            "required": [
              "code",
              "time"
            ],
            "additionalProperties": false,
            "example": {
              "code": "OK",
              "time": "2026-01-17T12:00:00Z"
            }
          },
          "service": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the service",
                "maxLength": 256,
                "pattern": "^[^\\x00-\\x1F]*$"
              },
              "build": {
                "type": "string",
                "description": "Current build number",
                "maxLength": 32,
                "pattern": "^[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}(-[a-zA-Z0-9]{7})?$"
              }
            },
            "required": [
              "name",
              "build"
            ],
            "additionalProperties": false,
            "example": {
              "name": "TMI Threat Modeling Interface",
              "build": "1.0.0"
            }
          },
          "api": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "description": "API version",
                "pattern": "^[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}$",
                "maxLength": 32
              },
              "specification": {
                "type": "string",
                "format": "uri",
                "description": "URL to the API specification",
                "maxLength": 1000,
                "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$"
              }
            },
            "required": [
              "version",
              "specification"
            ],
            "additionalProperties": false,
            "example": {
              "version": "1.0.0",
              "specification": "https://api.example.com/openapi.json"
            }
          },
          "operator": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Operator name from environment variables",
                "maxLength": 256,
                "pattern": "^[^\\x00-\\x1F]*$"
              },
              "contact": {
                "type": "string",
                "description": "Operator contact information from environment variables",
                "maxLength": 1024,
                "pattern": "^[^\\x00-\\x1F]*$"
              }
            },
            "required": [
              "name",
              "contact"
            ],
            "additionalProperties": false,
            "example": {
              "name": "Acme Corporation",
              "contact": "support@acme.example.com"
            }
          },
          "health": {
            "type": "object",
            "description": "Detailed health status of system components. Only present when status is DEGRADED.",
            "properties": {
              "database": {
                "$ref": "#/components/schemas/ComponentHealth"
              },
              "redis": {
                "$ref": "#/components/schemas/ComponentHealth"
              }
            },
            "additionalProperties": false,
            "example": {
              "database": {
                "status": "healthy",
                "latency_ms": 5
              },
              "redis": {
                "status": "healthy",
                "latency_ms": 2
              }
            }
          }
        },
        "required": [
          "status",
          "service",
          "api"
        ],
        "example": {
          "status": {
            "code": "OK",
            "time": "2025-04-09T12:00:00Z"
          },
          "service": {
            "name": "TMI",
            "build": "1.0.0-386eea0"
          },
          "api": {
            "version": "1.0.0",
            "specification": "https://github.com/ericfitz/tmi/blob/main/api-schema/tmi-openapi.json"
          },
          "operator": {
            "name": "Example Organization",
            "contact": "api-support@example.com"
          }
        },
        "additionalProperties": false
      },
      "OAuthProtectedResourceMetadata": {
        "type": "object",
        "description": "OAuth 2.0 protected resource metadata as defined in RFC 9728",
        "properties": {
          "resource": {
            "type": "string",
            "format": "uri",
            "description": "The protected resource's resource identifier URL",
            "example": "http://localhost:8080",
            "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$",
            "maxLength": 1000
          },
          "scopes_supported": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[\\x21\\x23-\\x5B\\x5D-\\x7E]*$",
              "maxLength": 64,
              "description": "OAuth 2.0 scope token (RFC 6749 Section 3.3 - printable ASCII excluding whitespace and double-quote)"
            },
            "description": "JSON array of OAuth scope values supported by this protected resource",
            "example": [
              "openid",
              "email",
              "profile"
            ],
            "maxItems": 100
          },
          "authorization_servers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$",
              "maxLength": 1000
            },
            "description": "List of authorization server issuer identifiers that can issue tokens for this resource",
            "example": [
              "http://localhost:8080"
            ],
            "maxItems": 100
          },
          "jwks_uri": {
            "type": "string",
            "format": "uri",
            "description": "URL of the protected resource's JSON Web Key Set (RFC 9728)",
            "example": "http://localhost:8080/.well-known/jwks.json",
            "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$",
            "maxLength": 1024
          },
          "bearer_methods_supported": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "header",
                "body",
                "query"
              ],
              "description": "OAuth 2.0 bearer token transmission method (RFC 6750)",
              "maxLength": 1000
            },
            "description": "Supported token presentation methods for bearer tokens",
            "example": [
              "header",
              "body",
              "query"
            ],
            "maxItems": 100
          },
          "resource_name": {
            "type": "string",
            "description": "Human-readable name of the protected resource",
            "example": "TMI (Threat Modeling Improved) API",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "resource_documentation": {
            "type": "string",
            "format": "uri",
            "description": "URL with information for developers on how to use this protected resource",
            "example": "https://github.com/ericfitz/tmi",
            "pattern": "^[a-zA-Z][a-zA-Z0-9+.-]*://[^\\s]*$",
            "maxLength": 1000
          },
          "tls_client_certificate_bound_access_tokens": {
            "type": "boolean",
            "description": "Whether the protected resource supports TLS client certificate bound access tokens",
            "example": false
          }
        },
        "required": [
          "resource"
        ],
        "example": {
          "resource": "http://localhost:8080",
          "scopes_supported": [
            "openid",
            "email",
            "profile"
          ],
          "authorization_servers": [
            "http://localhost:8080"
          ],
          "jwks_uri": "http://localhost:8080/.well-known/jwks.json",
          "bearer_methods_supported": [
            "header"
          ],
          "resource_name": "TMI (Threat Modeling Improved) API",
          "resource_documentation": "https://github.com/ericfitz/tmi",
          "tls_client_certificate_bound_access_tokens": false
        },
        "additionalProperties": false
      },
      "Document": {
        "description": "Complete Document schema with server-generated fields",
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentBase"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the document",
                "readOnly": true,
                "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                "maxLength": 36
              },
              "metadata": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Metadata"
                },
                "description": "Optional metadata key-value pairs",
                "readOnly": true,
                "maxItems": 100
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "maxLength": 32,
                "description": "Creation timestamp (RFC3339)",
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "maxLength": 32,
                "description": "Last modification timestamp (RFC3339)",
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              }
            }
          }
        ],
        "example": {
          "id": "567e89ab-e89b-41d4-a716-446655440004",
          "threat_model_id": "123e4567-e89b-41d4-a716-446655440000",
          "name": "Security Architecture Review",
          "description": "Q1 2024 security review findings",
          "content": "# Security Review\n\nKey findings from architecture review...",
          "format": "markdown",
          "metadata": [
            {
              "key": "reviewer",
              "value": "Security Team"
            }
          ],
          "created_at": "2024-01-17T14:00:00Z",
          "modified_at": "2024-01-17T14:00:00Z",
          "uri": "https://example.com/docs/security-policy.pdf",
          "include_in_report": true
        }
      },
      "BaseDiagram": {
        "type": "object",
        "description": "Base diagram object with common properties - used for API responses",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the diagram (UUID)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "name": {
            "type": "string",
            "description": "Name of the diagram",
            "maxLength": 256,
            "pattern": "^[^<>\"'&]*$",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "description": "Type of diagram with version",
            "enum": [
              "DFD-1.0.0"
            ],
            "maxLength": 64
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp (ISO3339)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp (ISO3339)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            },
            "description": "Key-value pairs for additional diagram metadata",
            "nullable": true,
            "maxItems": 10000
          },
          "update_vector": {
            "type": "integer",
            "format": "int64",
            "description": "Server-managed monotonic version counter, incremented on each diagram update",
            "readOnly": true,
            "minimum": 0
          },
          "image": {
            "type": "object",
            "description": "Image data with version information",
            "properties": {
              "svg": {
                "type": "string",
                "format": "byte",
                "description": "BASE64 encoded SVG representation of the diagram, used for thumbnails and reports",
                "pattern": "^[A-Za-z0-9+/]*=*$",
                "maxLength": 102400
              },
              "update_vector": {
                "type": "integer",
                "format": "int64",
                "description": "Version of the diagram when this SVG was generated. If not provided when svg is updated, will be auto-set to BaseDiagram.update_vector",
                "minimum": 0
              }
            },
            "nullable": true,
            "additionalProperties": false
          },
          "description": {
            "type": "string",
            "maxLength": 2048,
            "nullable": true,
            "description": "Optional description of the diagram",
            "pattern": "^[^<>\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "include_in_report": {
            "type": "boolean",
            "description": "Whether this item should be included in generated reports",
            "default": true
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "created_at",
          "modified_at"
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "DFD-1.0.0": "#/components/schemas/DfdDiagram"
          }
        },
        "example": {
          "id": "550e8400-e29b-41d4-a716-446655440000",
          "type": "DFD-1.0.0",
          "name": "System Architecture",
          "description": "High-level system architecture diagram",
          "created_at": "2024-01-15T10:00:00Z",
          "modified_at": "2024-01-15T10:00:00Z",
          "include_in_report": true
        }
      },
      "BaseDiagramInput": {
        "type": "object",
        "description": "Base diagram input for PUT/PATCH requests - excludes readOnly server-managed fields",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the diagram",
            "maxLength": 256,
            "pattern": "^[^<>\"'&]*$",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "description": "Type of diagram with version",
            "enum": [
              "DFD-1.0.0"
            ],
            "maxLength": 64,
            "minLength": 1
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            },
            "description": "Key-value pairs for additional diagram metadata",
            "nullable": true,
            "maxItems": 10000
          },
          "image": {
            "type": "object",
            "description": "Image data with version information",
            "properties": {
              "svg": {
                "type": "string",
                "format": "byte",
                "description": "BASE64 encoded SVG representation of the diagram, used for thumbnails and reports",
                "pattern": "^[A-Za-z0-9+/]*=*$",
                "maxLength": 102400
              },
              "update_vector": {
                "type": "integer",
                "format": "int64",
                "description": "Version of the diagram when this SVG was generated. If not provided when svg is updated, will be auto-set to BaseDiagram.update_vector",
                "minimum": 0
              }
            },
            "nullable": true,
            "additionalProperties": false
          },
          "description": {
            "type": "string",
            "maxLength": 2048,
            "nullable": true,
            "description": "Optional description of the diagram",
            "pattern": "^[^\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "include_in_report": {
            "type": "boolean",
            "description": "Whether this item should be included in generated reports",
            "default": true
          }
        },
        "required": [
          "name",
          "type"
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "DFD-1.0.0": "#/components/schemas/DfdDiagramInput"
          }
        },
        "example": {
          "type": "DFD-1.0.0",
          "name": "New Architecture Diagram",
          "description": "Draft architecture for microservices migration",
          "include_in_report": true
        }
      },
      "DfdDiagram": {
        "x-discriminator-value": "DFD-1.0.0",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseDiagram"
          },
          {
            "type": "object",
            "description": "Data Flow Diagram (DFD) with cells - API response schema",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "DFD-1.0.0"
                ],
                "description": "DFD diagram type with version",
                "maxLength": 1000
              },
              "cells": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Node"
                    },
                    {
                      "$ref": "#/components/schemas/Edge"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "shape",
                    "mapping": {
                      "actor": "#/components/schemas/Node",
                      "process": "#/components/schemas/Node",
                      "store": "#/components/schemas/Node",
                      "security-boundary": "#/components/schemas/Node",
                      "text-box": "#/components/schemas/Node",
                      "flow": "#/components/schemas/Edge"
                    }
                  }
                },
                "description": "List of diagram cells (nodes and edges) following X6 structure",
                "maxItems": 10000
              }
            },
            "required": [
              "cells"
            ]
          }
        ],
        "example": {
          "id": "234e5678-e89b-41d4-a716-446655440002",
          "type": "DFD-1.0.0",
          "name": "Payment Data Flow",
          "description": "Data flow through payment processing",
          "created_at": "2024-01-15T10:00:00Z",
          "modified_at": "2024-01-15T10:00:00Z",
          "cells": [
            {
              "id": "c30eabcd-e89b-41d4-a716-446655440022",
              "shape": "process",
              "x": 150,
              "y": 250,
              "width": 140,
              "height": 70
            }
          ],
          "include_in_report": true
        },
        "description": "Data Flow Diagram with cells, edges, and visual styling for JointJS rendering"
      },
      "DfdDiagramInput": {
        "x-discriminator-value": "DFD-1.0.0",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseDiagramInput"
          },
          {
            "type": "object",
            "description": "Data Flow Diagram (DFD) input for PUT requests - excludes readOnly fields",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "DFD-1.0.0"
                ],
                "description": "DFD diagram type with version",
                "maxLength": 1000
              },
              "cells": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Node"
                    },
                    {
                      "$ref": "#/components/schemas/Edge"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "shape",
                    "mapping": {
                      "actor": "#/components/schemas/Node",
                      "process": "#/components/schemas/Node",
                      "store": "#/components/schemas/Node",
                      "security-boundary": "#/components/schemas/Node",
                      "text-box": "#/components/schemas/Node",
                      "flow": "#/components/schemas/Edge"
                    }
                  }
                },
                "description": "List of diagram cells (nodes and edges) following X6 structure",
                "maxItems": 10000
              }
            },
            "required": [
              "cells"
            ]
          }
        ],
        "example": {
          "type": "DFD-1.0.0",
          "name": "Authentication Flow",
          "description": "User authentication data flow",
          "cells": [
            {
              "id": "d40eabcd-e89b-41d4-a716-446655440023",
              "shape": "actor",
              "x": 50,
              "y": 100,
              "width": 60,
              "height": 60
            }
          ],
          "include_in_report": true
        },
        "description": "Input schema for creating or updating a Data Flow Diagram"
      },
      "CreateDiagramRequest": {
        "type": "object",
        "description": "Request body for creating a new diagram - only includes client-provided fields",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the diagram",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "description": "Type of diagram with version",
            "enum": [
              "DFD-1.0.0"
            ],
            "maxLength": 64,
            "minLength": 1
          }
        },
        "required": [
          "name",
          "type"
        ],
        "additionalProperties": false,
        "example": {
          "name": "Payment Flow Data Flow Diagram",
          "type": "DFD-1.0.0"
        }
      },
      "Diagram": {
        "deprecated": true,
        "description": "DEPRECATED: Empty wrapper schema for polymorphic diagram types. Use DfdDiagram directly instead. This schema is kept for backward compatibility but generates empty classes in client libraries.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DfdDiagram"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "DFD-1.0.0": "#/components/schemas/DfdDiagram"
          }
        },
        "example": {
          "id": "234e5678-e89b-41d4-a716-446655440001",
          "type": "DFD-1.0.0",
          "name": "Payment Flow Architecture",
          "description": "Data flow diagram showing payment processing",
          "created_at": "2024-01-15T10:35:00Z",
          "modified_at": "2024-01-20T16:00:00Z",
          "cells": []
        }
      },
      "Cell": {
        "type": "object",
        "description": "Base schema for all diagram cells (nodes and edges). Contains common properties shared by Node and Edge types.",
        "discriminator": {
          "propertyName": "shape"
        },
        "required": [
          "id",
          "shape"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the cell (UUID)",
            "format": "uuid",
            "example": "37EAEDFA-BF37-4996-8665-242FEC34BBFF",
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "shape": {
            "type": "string",
            "description": "Shape type identifier that determines cell structure and behavior",
            "example": "process",
            "pattern": "^[a-z][a-z0-9-]*$",
            "maxLength": 64
          },
          "data": {
            "type": "object",
            "description": "Flexible data storage compatible with X6, with reserved metadata namespace",
            "properties": {
              "_metadata": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Metadata"
                },
                "description": "Reserved namespace for structured business metadata",
                "maxItems": 100
              },
              "security_boundary": {
                "type": "boolean",
                "description": "Indicates whether this cell represents a security boundary in the threat model",
                "default": false
              },
              "data_assets": {
                "type": "array",
                "description": "References to Asset IDs associated with this cell. Each UUID must reference an existing Asset in the same threat model.",
                "items": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID reference to an Asset object",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                  "maxLength": 36
                },
                "minItems": 1,
                "maxItems": 100,
                "uniqueItems": true
              }
            },
            "additionalProperties": true,
            "default": {
              "_metadata": []
            }
          }
        },
        "example": {
          "id": "f60eabcd-e89b-41d4-a716-446655440015",
          "shape": "process"
        }
      },
      "Node": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Cell"
          },
          {
            "type": "object",
            "description": "A diagram node representing an entity, process, store, or boundary. Supports both X6 position/size object format and flat x/y/width/height format. Input accepts either format. Output always uses flat format (x, y, width, height).",
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "actor",
                  "process",
                  "store",
                  "security-boundary",
                  "text-box"
                ],
                "description": "Node type determining its visual representation and behavior",
                "maxLength": 1000
              },
              "position": {
                "type": "object",
                "description": "Node position in X6 nested format. Use either this with size object OR use flat x/y/width/height properties.",
                "properties": {
                  "x": {
                    "type": "number",
                    "description": "X coordinate"
                  },
                  "y": {
                    "type": "number",
                    "description": "Y coordinate"
                  }
                },
                "required": [
                  "x",
                  "y"
                ],
                "additionalProperties": false
              },
              "size": {
                "type": "object",
                "description": "Node size in X6 nested format. Use either this with position object OR use flat x/y/width/height properties.",
                "properties": {
                  "width": {
                    "type": "number",
                    "description": "Width in pixels",
                    "minimum": 40
                  },
                  "height": {
                    "type": "number",
                    "description": "Height in pixels",
                    "minimum": 30
                  }
                },
                "required": [
                  "width",
                  "height"
                ],
                "additionalProperties": false
              },
              "angle": {
                "type": "number",
                "description": "Rotation angle in degrees",
                "default": 0
              },
              "attrs": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NodeAttrs"
                  }
                ],
                "description": "Visual styling attributes for the node"
              },
              "ports": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PortConfiguration"
                  }
                ],
                "description": "Port configuration for connections"
              },
              "parent": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the parent cell for nested/grouped nodes (UUID)",
                "nullable": true,
                "maxLength": 36,
                "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
              },
              "children": {
                "type": "array",
                "description": "IDs of child cells contained within this node (UUIDs)",
                "items": {
                  "type": "string",
                  "format": "uuid",
                  "maxLength": 36,
                  "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
                },
                "maxItems": 1000
              },
              "x": {
                "type": "number",
                "description": "X coordinate (flat format). Use either this with y, width, height OR use position/size objects."
              },
              "y": {
                "type": "number",
                "description": "Y coordinate (flat format)"
              },
              "width": {
                "type": "number",
                "description": "Width in pixels (flat format)",
                "minimum": 40
              },
              "height": {
                "type": "number",
                "description": "Height in pixels (flat format)",
                "minimum": 30
              }
            }
          }
        ],
        "example": {
          "id": "c30eabcd-e89b-41d4-a716-446655440022",
          "shape": "process",
          "x": 150,
          "y": 250,
          "width": 140,
          "height": 70
        },
        "description": "Diagram node representing a process, data store, external entity, or trust boundary"
      },
      "Edge": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Cell"
          },
          {
            "type": "object",
            "description": "A diagram edge representing a connection or data flow between nodes. Fully compatible with X6 Edge objects and supports X6 routing algorithms (manhattan, orth, oneSide, metro, er), connector styles (normal, rounded, smooth, jumpover), custom markup, tools, and convenience properties (label, style) for easier integration.",
            "required": [
              "source",
              "target"
            ],
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "flow"
                ],
                "description": "Edge type identifier",
                "maxLength": 1000
              },
              "source": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EdgeTerminal"
                  }
                ],
                "description": "Source connection point"
              },
              "target": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EdgeTerminal"
                  }
                ],
                "description": "Target connection point"
              },
              "attrs": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EdgeAttrs"
                  }
                ],
                "description": "Visual styling attributes for the edge"
              },
              "labels": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EdgeLabel"
                },
                "description": "Text labels positioned along the edge",
                "maxItems": 1000
              },
              "vertices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Point"
                },
                "description": "Intermediate waypoints for edge routing",
                "maxItems": 1000
              },
              "router": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EdgeRouter"
                  }
                ],
                "description": "Edge routing algorithm configuration for path calculation"
              },
              "connector": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EdgeConnector"
                  }
                ],
                "description": "Edge connector style configuration for visual appearance"
              },
              "defaultLabel": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EdgeLabel"
                  }
                ],
                "description": "Default label configuration applied to edges without explicit labels"
              }
            }
          }
        ],
        "example": {
          "id": "a90eabcd-e89b-41d4-a716-446655440018",
          "shape": "flow",
          "source": {
            "cell": "f60eabcd-e89b-41d4-a716-446655440015"
          },
          "target": {
            "cell": "b00eabcd-e89b-41d4-a716-446655440019"
          }
        },
        "description": "Diagram edge representing a data flow connection between nodes"
      },
      "ThreatModel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThreatModelBase"
          },
          {
            "type": "object",
            "description": "Complete ThreatModel with server-generated fields",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the threat model (UUID)",
                "maxLength": 36,
                "readOnly": true,
                "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp (RFC3339)",
                "maxLength": 32,
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification timestamp (RFC3339)",
                "maxLength": 32,
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User"
                  }
                ],
                "description": "User who created the threat model",
                "readOnly": true
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Document"
                },
                "description": "List of documents related to the threat model",
                "readOnly": true,
                "maxItems": 1000
              },
              "repositories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Repository"
                },
                "description": "List of source code repositories related to the threat model",
                "readOnly": true,
                "maxItems": 1000
              },
              "diagrams": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Diagram"
                },
                "description": "List of diagram objects associated with this threat model",
                "readOnly": true,
                "maxItems": 10000
              },
              "threats": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Threat"
                },
                "description": "List of threats within the threat model",
                "readOnly": true,
                "maxItems": 1000
              },
              "notes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Note"
                },
                "description": "List of notes associated with the threat model",
                "readOnly": true,
                "maxItems": 1000
              },
              "assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExtendedAsset"
                },
                "description": "List of assets associated with the threat model",
                "readOnly": true,
                "maxItems": 1000
              },
              "status_updated": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Timestamp when the status field was last modified (RFC3339). Automatically updated by the server when status changes.",
                "maxLength": 32,
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              },
              "is_confidential": {
                "type": "boolean",
                "description": "Whether this threat model is confidential (set at creation, read-only after)",
                "readOnly": true
              }
            }
          }
        ],
        "description": "A threat model containing diagrams, threats, documents, and other security analysis artifacts"
      },
      "Threat": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThreatBase"
          },
          {
            "type": "object",
            "description": "Complete Threat with server-generated fields",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the threat (UUID)",
                "maxLength": 36,
                "readOnly": true,
                "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
              },
              "threat_model_id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier of the parent threat model (UUID)",
                "maxLength": 36,
                "readOnly": true,
                "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp (RFC3339)",
                "maxLength": 32,
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification timestamp (RFC3339)",
                "maxLength": 32,
                "readOnly": true,
                "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
              }
            }
          }
        ],
        "example": {
          "id": "345e6789-e89b-41d4-a716-446655440002",
          "threat_model_id": "123e4567-e89b-41d4-a716-446655440000",
          "name": "SQL Injection in Payment Query",
          "description": "Unsanitized input in payment lookup query could allow SQL injection",
          "severity": "High",
          "stride_category": "Tampering",
          "status": "Open",
          "metadata": [
            {
              "key": "cwe",
              "value": "CWE-89"
            }
          ],
          "created_at": "2024-01-16T09:00:00Z",
          "modified_at": "2024-01-16T09:00:00Z",
          "threat_type": [
            "spoofing"
          ],
          "include_in_report": true
        },
        "description": "A security threat identified during threat modeling, with severity, status, and mitigation details"
      },
      "Authorization": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Principal"
          },
          {
            "type": "object",
            "description": "Authorization entry with principal identity and role",
            "required": [
              "role"
            ],
            "properties": {
              "role": {
                "type": "string",
                "enum": [
                  "reader",
                  "writer",
                  "owner"
                ],
                "description": "Role: reader (view), writer (edit), owner (full control)",
                "maxLength": 6,
                "x-oapi-codegen-extra-tags": {
                  "binding": "required"
                }
              }
            }
          }
        ],
        "example": {
          "principal_type": "user",
          "provider": "tmi",
          "provider_id": "bob@example.com",
          "display_name": "Bob Smith",
          "email": "bob@example.com",
          "role": "writer"
        },
        "description": "Authorization record granting a user access to a resource with a specific role"
      },
      "Metadata": {
        "type": "object",
        "description": "A key-value pair for extensible metadata",
        "properties": {
          "key": {
            "type": "string",
            "description": "Metadata key",
            "minLength": 1,
            "maxLength": 256,
            "pattern": "^[a-zA-Z0-9_./:-]+$",
            "x-oapi-codegen-extra-tags": {
              "binding": "required"
            }
          },
          "value": {
            "type": "string",
            "description": "Metadata value",
            "minLength": 1,
            "maxLength": 1024,
            "pattern": "^[^<>]*$",
            "x-oapi-codegen-extra-tags": {
              "binding": "required"
            }
          }
        },
        "required": [
          "key",
          "value"
        ],
        "additionalProperties": false,
        "example": {
          "key": "environment",
          "value": "production"
        }
      },
      "Error": {
        "type": "object",
        "description": "Standard error response format",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code",
            "pattern": "^[^\\x00-\\x1F]*$",
            "maxLength": 1000
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description",
            "pattern": "^[^\\x00-\\x1F]*$",
            "maxLength": 1000
          },
          "error_uri": {
            "type": "string",
            "format": "uri",
            "description": "URI to documentation about the error",
            "pattern": "^[a-zA-Z][a-zA-Z0-9+.-]*://[^\\s]*$",
            "maxLength": 1000
          },
          "details": {
            "type": "object",
            "description": "Additional context-specific error information",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code for programmatic handling",
                "example": "COLLABORATION_SESSION_NOT_FOUND",
                "pattern": "^[a-zA-Z0-9_-]*$",
                "maxLength": 512
              },
              "context": {
                "type": "object",
                "description": "Contextual information about the error",
                "additionalProperties": true,
                "example": {
                  "diagram_id": "550e8400-e29b-41d4-a716-446655440000",
                  "requested_operation": "end_session"
                }
              },
              "suggestion": {
                "type": "string",
                "description": "Human-readable suggestion for resolving the error",
                "example": "Start a collaboration session first using POST /diagrams/{id}/collaborate",
                "pattern": "^[^\\x00-\\x1F]*$",
                "maxLength": 1000
              }
            },
            "additionalProperties": false,
            "nullable": true
          }
        },
        "required": [
          "error",
          "error_description"
        ],
        "example": {
          "error": "invalid_request",
          "error_description": "The request is missing a required parameter",
          "error_uri": "https://docs.example.com/oauth2/errors/invalid_request"
        },
        "additionalProperties": false
      },
      "AuthTokenResponse": {
        "type": "object",
        "description": "JWT token response for authentication endpoints",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token",
            "pattern": "^[a-zA-Z0-9_.-]*$",
            "maxLength": 4096
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token for obtaining new access tokens",
            "pattern": "^[a-zA-Z0-9_.-]*$",
            "maxLength": 1024
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ],
            "description": "Token type",
            "maxLength": 1000
          },
          "expires_in": {
            "type": "integer",
            "description": "Access token expiration time in seconds"
          }
        },
        "required": [
          "access_token",
          "refresh_token",
          "token_type",
          "expires_in"
        ],
        "example": {
          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
          "refresh_token": "def456...",
          "token_type": "Bearer",
          "expires_in": 3600
        },
        "additionalProperties": false
      },
      "CollaborationSession": {
        "type": "object",
        "description": "Details of an active collaboration session for a diagram",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the session (UUID)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "host": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "User hosting the collaboration session",
            "readOnly": true
          },
          "presenter": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "User currently presenting (may be null if no active presenter)",
            "readOnly": true
          },
          "threat_model_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the associated threat model (UUID)",
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "threat_model_name": {
            "type": "string",
            "description": "Name of the associated threat model",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "diagram_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the associated diagram (UUID)",
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "diagram_name": {
            "type": "string",
            "description": "Name of the associated diagram",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            },
            "description": "List of active participants",
            "maxItems": 1000
          },
          "websocket_url": {
            "type": "string",
            "description": "WebSocket URL for real-time updates",
            "maxLength": 1024,
            "pattern": "^\\s*wss?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$"
          }
        },
        "required": [
          "session_id",
          "host",
          "threat_model_id",
          "threat_model_name",
          "diagram_id",
          "diagram_name",
          "participants",
          "websocket_url"
        ],
        "example": {
          "session_id": "D7744D3A-ED22-40AF-862B-29786CAD0007",
          "host": {
            "principal_type": "user",
            "provider": "tmi",
            "provider_id": "admin@example.com",
            "display_name": "Admin User",
            "email": "admin@example.com"
          },
          "presenter": {
            "principal_type": "user",
            "provider": "tmi",
            "provider_id": "presenter@example.com",
            "display_name": "Presenter User",
            "email": "presenter@example.com"
          },
          "threat_model_id": "5311D207-AFD5-4A1A-BA83-14C1445DC257",
          "threat_model_name": "E-commerce Platform Security Analysis",
          "diagram_id": "DFF7F4A9-CBCE-4001-9198-2706C86F7EF3",
          "diagram_name": "User Authentication Flow",
          "participants": [
            {
              "user": {
                "principal_type": "user",
                "provider": "tmi",
                "provider_id": "admin@example.com",
                "email": "admin@example.com",
                "display_name": "Admin User"
              },
              "last_activity": "2025-04-06T12:02:00Z",
              "permissions": "writer"
            }
          ],
          "websocket_url": "wss://api.example.com/threat_models/5311D207-AFD5-4A1A-BA83-14C1445DC257/diagrams/DFF7F4A9-CBCE-4001-9198-2706C86F7EF3/ws"
        },
        "additionalProperties": false
      },
      "DiagramListItem": {
        "type": "object",
        "description": "Summary diagram object for GET /diagrams list endpoints. Excludes large fields (cells) for performance. Includes image for thumbnail rendering and description for display. Full diagram details available via GET /diagrams/{id} which returns DfdDiagram.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the diagram (UUID)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "name": {
            "type": "string",
            "description": "Name of the diagram",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "type": {
            "type": "string",
            "enum": [
              "DFD-1.0.0"
            ],
            "description": "Type of the diagram",
            "maxLength": 1000
          },
          "description": {
            "type": "string",
            "maxLength": 2048,
            "nullable": true,
            "description": "Optional description of the diagram",
            "pattern": "^[^<>\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp (ISO3339)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp (ISO3339)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "image": {
            "type": "object",
            "description": "Image data with version information for thumbnail rendering",
            "properties": {
              "svg": {
                "type": "string",
                "format": "byte",
                "description": "BASE64 encoded SVG representation of the diagram, used for thumbnails and reports",
                "pattern": "^[A-Za-z0-9+/]*=*$",
                "maxLength": 102400
              },
              "update_vector": {
                "type": "integer",
                "format": "int64",
                "description": "Version of the diagram when this SVG was generated",
                "minimum": 0
              }
            },
            "nullable": true,
            "additionalProperties": false
          },
          "include_in_report": {
            "type": "boolean",
            "description": "Whether this item should be included in generated reports",
            "default": true
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "created_at",
          "modified_at"
        ],
        "additionalProperties": false,
        "example": {
          "id": "880e8400-e29b-41d4-a716-446655440003",
          "name": "Payment Flow Data Flow Diagram",
          "type": "DFD-1.0.0",
          "description": "Data flow diagram showing payment processing flow",
          "created_at": "2025-01-15T10:30:00Z",
          "modified_at": "2025-01-15T14:22:00Z",
          "image": null,
          "include_in_report": true
        }
      },
      "TMListItem": {
        "type": "object",
        "description": "Enhanced item for threat model list endpoints with key metadata and counts",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the threat model (UUID)",
            "maxLength": 36,
            "readOnly": true,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "name": {
            "type": "string",
            "description": "Name of the threat model",
            "maxLength": 256,
            "pattern": "^[^<>\"'&]*$",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "description": "Description of the threat model",
            "maxLength": 2048,
            "pattern": "^[^\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp (RFC3339)",
            "maxLength": 32,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp (RFC3339)",
            "maxLength": 32,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "User who owns the threat model"
          },
          "created_by": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "User who created the threat model"
          },
          "threat_model_framework": {
            "type": "string",
            "description": "The framework used for this threat model",
            "pattern": "^[A-Za-z0-9_-]*$",
            "maxLength": 30
          },
          "document_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of documents associated with this threat model"
          },
          "repo_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of source code repository entries associated with this threat model"
          },
          "diagram_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of diagrams associated with this threat model"
          },
          "threat_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of threats defined in this threat model"
          },
          "issue_uri": {
            "type": "string",
            "format": "uri",
            "description": "URL to an issue in an issue tracking system",
            "maxLength": 1000,
            "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$"
          },
          "asset_count": {
            "type": "integer",
            "description": "Number of assets associated with this threat model",
            "minimum": 0
          },
          "note_count": {
            "type": "integer",
            "description": "Number of notes associated with this threat model",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Status of the threat model in the organization's threat modeling or SDLC process. Examples: \"Not started\", \"In progress\", \"Review\", \"Approved\", \"Closed\"",
            "maxLength": 128,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "status_updated": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the status field was last modified (RFC3339). Automatically updated by the server when status changes.",
            "maxLength": 32,
            "readOnly": true,
            "pattern": "^[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*(\\.[0-9]*)?(Z|[+-][0-9]*:[0-9]*)$"
          },
          "security_reviewer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "Security reviewer assigned to this threat model. The assigned security reviewer automatically has the owner role on this threat model.",
            "nullable": true,
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "created_at",
          "modified_at",
          "owner",
          "created_by",
          "threat_model_framework",
          "document_count",
          "repo_count",
          "diagram_count",
          "threat_count",
          "asset_count",
          "note_count"
        ],
        "additionalProperties": false,
        "example": {
          "id": "660e8400-e29b-41d4-a716-446655440001",
          "name": "Payment Gateway Threat Model",
          "owner": {
            "principal_type": "user",
            "provider": "github",
            "provider_id": "alice@example.com",
            "display_name": "Alice Johnson",
            "email": "alice@example.com"
          },
          "created_by": {
            "principal_type": "user",
            "provider": "github",
            "provider_id": "alice@example.com",
            "display_name": "Alice Johnson",
            "email": "alice@example.com"
          },
          "threat_model_framework": "STRIDE",
          "created_at": "2024-01-15T10:30:00Z",
          "modified_at": "2024-01-20T15:45:30Z",
          "document_count": 3,
          "repo_count": 2,
          "diagram_count": 1,
          "threat_count": 5,
          "asset_count": 4,
          "note_count": 2
        }
      },
      "Point": {
        "type": "object",
        "description": "A 2D point with x and y coordinates",
        "required": [
          "x",
          "y"
        ],
        "properties": {
          "x": {
            "type": "number",
            "description": "X coordinate"
          },
          "y": {
            "type": "number",
            "description": "Y coordinate"
          }
        },
        "example": {
          "x": 100,
          "y": 200
        },
        "additionalProperties": false
      },
      "EdgeTerminal": {
        "type": "object",
        "description": "Connection point for an edge (source or target)",
        "required": [
          "cell"
        ],
        "properties": {
          "cell": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the connected node (UUID)",
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "port": {
            "type": "string",
            "description": "ID of the specific port on the node (optional)",
            "nullable": true,
            "maxLength": 64,
            "pattern": "^[^\\x00-\\x1F]*$"
          }
        },
        "example": {
          "cell": "233598D2-8C6D-4A73-AFE1-647081C4F7AA",
          "port": "port_out_1"
        },
        "additionalProperties": false
      },
      "NodeAttrs": {
        "type": "object",
        "description": "Visual attributes for a node",
        "properties": {
          "body": {
            "type": "object",
            "description": "Body/shape styling attributes",
            "properties": {
              "fill": {
                "type": "string",
                "description": "Fill color",
                "maxLength": 32,
                "pattern": "^(#[0-9a-fA-F]*|#[0-9a-fA-F]*|rgb\\([0-9]*,[0-9]*,[0-9]*\\)|[a-z]+)$"
              },
              "stroke": {
                "type": "string",
                "description": "Stroke color",
                "maxLength": 32,
                "pattern": "^(#[0-9a-fA-F]*|#[0-9a-fA-F]*|rgb\\([0-9]*,[0-9]*,[0-9]*\\)|[a-z]+)$"
              },
              "strokeWidth": {
                "type": "number",
                "description": "Stroke width in pixels",
                "minimum": 0
              },
              "strokeDasharray": {
                "type": "string",
                "description": "Dash pattern for strokes",
                "nullable": true,
                "maxLength": 64,
                "pattern": "^[0-9]+(\\\\.[0-9]+)?(,[0-9]+(\\\\.[0-9]+)?)*$"
              }
            },
            "additionalProperties": false
          },
          "text": {
            "type": "object",
            "description": "Text/label styling attributes",
            "properties": {
              "text": {
                "type": "string",
                "description": "Label text content",
                "maxLength": 256,
                "pattern": "^[^\\x00-\\x1F]*$"
              },
              "fontSize": {
                "type": "number",
                "description": "Font size in pixels",
                "minimum": 1
              },
              "fill": {
                "type": "string",
                "description": "Text color",
                "maxLength": 32,
                "pattern": "^(#[0-9a-fA-F]*|#[0-9a-fA-F]*|rgb\\([0-9]*,[0-9]*,[0-9]*\\)|[a-z]+)$"
              },
              "fontFamily": {
                "type": "string",
                "description": "Font family",
                "maxLength": 64,
                "pattern": "^[a-zA-Z0-9 ,'-]*$"
              },
              "refX": {
                "type": "number",
                "description": "Horizontal position (0-1 relative or pixels)"
              },
              "refY": {
                "type": "number",
                "description": "Vertical position (0-1 relative or pixels)"
              },
              "refDx": {
                "type": "number",
                "description": "Horizontal offset from refX"
              },
              "refDy": {
                "type": "number",
                "description": "Vertical offset from refY"
              },
              "textAnchor": {
                "type": "string",
                "enum": [
                  "start",
                  "middle",
                  "end"
                ],
                "description": "Horizontal text alignment anchor point"
              },
              "textVerticalAnchor": {
                "type": "string",
                "enum": [
                  "top",
                  "middle",
                  "bottom"
                ],
                "description": "Vertical text alignment anchor point"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false,
        "example": {
          "body": {
            "fill": "#e0e0e0"
          },
          "text": {
            "fill": "#333333"
          }
        }
      },
      "EdgeAttrs": {
        "type": "object",
        "description": "Visual attributes for an edge",
        "properties": {
          "line": {
            "type": "object",
            "description": "Line styling attributes",
            "properties": {
              "stroke": {
                "type": "string",
                "description": "Line color",
                "maxLength": 32,
                "pattern": "^(#[0-9a-fA-F]*|#[0-9a-fA-F]*|rgb\\([0-9]*,[0-9]*,[0-9]*\\)|[a-z]+)$"
              },
              "strokeWidth": {
                "type": "number",
                "description": "Line width in pixels",
                "minimum": 0
              },
              "strokeDasharray": {
                "type": "string",
                "description": "Dash pattern for the line",
                "nullable": true,
                "maxLength": 64,
                "pattern": "^[0-9]+(\\\\.[0-9]+)?(,[0-9]+(\\\\.[0-9]+)?)*$"
              },
              "targetMarker": {
                "type": "object",
                "description": "Arrowhead marker configuration",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Marker type",
                    "enum": [
                      "classic",
                      "block",
                      "diamond",
                      "circle"
                    ],
                    "maxLength": 32,
                    "pattern": "^[^\\x00-\\x1F]*$"
                  },
                  "size": {
                    "type": "number",
                    "description": "Marker size in pixels",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "sourceMarker": {
                "type": "object",
                "description": "Source marker configuration",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Marker type",
                    "enum": [
                      "classic",
                      "block",
                      "diamond",
                      "circle"
                    ],
                    "maxLength": 32,
                    "pattern": "^[^\\x00-\\x1F]*$"
                  },
                  "size": {
                    "type": "number",
                    "description": "Marker size in pixels",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false,
        "example": {
          "line": {
            "stroke": "#666666",
            "strokeWidth": 2
          }
        }
      },
      "EdgeLabel": {
        "type": "object",
        "description": "Label positioned along an edge",
        "properties": {
          "attrs": {
            "type": "object",
            "description": "Label styling attributes",
            "properties": {
              "text": {
                "type": "object",
                "description": "Text styling",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Label text content",
                    "maxLength": 256,
                    "pattern": "^[^\\x00-\\x1F]*$"
                  },
                  "fontSize": {
                    "type": "number",
                    "description": "Font size in pixels",
                    "minimum": 1
                  },
                  "fill": {
                    "type": "string",
                    "description": "Text color",
                    "maxLength": 32,
                    "pattern": "^(#[0-9a-fA-F]*|#[0-9a-fA-F]*|rgb\\([0-9]*,[0-9]*,[0-9]*\\)|[a-z]+)$"
                  },
                  "fontFamily": {
                    "type": "string",
                    "description": "Font family",
                    "maxLength": 64,
                    "pattern": "^[a-zA-Z0-9 ,'-]*$"
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "position": {
            "oneOf": [
              {
                "type": "number",
                "description": "Simple position: 0-1 for percentage, >1 for pixels from start, <0 for pixels from end"
              },
              {
                "type": "object",
                "description": "Advanced position with offset and angle (X6 LabelPositionObject format)",
                "required": [
                  "distance"
                ],
                "properties": {
                  "distance": {
                    "type": "number",
                    "description": "Position along the edge: 0-1 for percentage, >1 for pixels from start, <0 for pixels from end"
                  },
                  "offset": {
                    "oneOf": [
                      {
                        "type": "number",
                        "description": "Perpendicular offset from edge (positive = down/right, negative = up/left)"
                      },
                      {
                        "type": "object",
                        "description": "Absolute x,y offset",
                        "properties": {
                          "x": {
                            "type": "number"
                          },
                          "y": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    ]
                  },
                  "angle": {
                    "type": "number",
                    "description": "Rotation angle in degrees (clockwise)"
                  },
                  "options": {
                    "type": "object",
                    "description": "Advanced positioning options",
                    "properties": {
                      "absoluteDistance": {
                        "type": "boolean",
                        "description": "Forces absolute coordinates for distance"
                      },
                      "reverseDistance": {
                        "type": "boolean",
                        "description": "Forces reverse absolute coordinates"
                      },
                      "absoluteOffset": {
                        "type": "boolean",
                        "description": "Forces absolute coordinates for offset"
                      },
                      "keepGradient": {
                        "type": "boolean",
                        "description": "Auto-adjusts angle to match path gradient"
                      },
                      "ensureLegibility": {
                        "type": "boolean",
                        "description": "Rotates labels to avoid upside-down text"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            ]
          }
        },
        "example": {
          "attrs": {
            "text": {
              "text": "Data Flow",
              "fontSize": 12,
              "fill": "#333333"
            }
          },
          "position": 0.5
        },
        "additionalProperties": false
      },
      "PortConfiguration": {
        "type": "object",
        "description": "Port configuration for node connections",
        "properties": {
          "groups": {
            "type": "object",
            "description": "Port group definitions",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "position": {
                  "type": "string",
                  "enum": [
                    "top",
                    "right",
                    "bottom",
                    "left"
                  ],
                  "description": "Port position on the node"
                }
              },
              "additionalProperties": false
            }
          },
          "items": {
            "type": "array",
            "description": "Individual port instances",
            "items": {
              "type": "object",
              "required": [
                "id",
                "group"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique port identifier",
                  "maxLength": 64,
                  "pattern": "^[^\\x00-\\x1F]*$"
                },
                "group": {
                  "type": "string",
                  "description": "Port group this port belongs to",
                  "maxLength": 32,
                  "pattern": "^[^\\x00-\\x1F]*$"
                }
              },
              "additionalProperties": false
            },
            "maxItems": 1000
          }
        },
        "additionalProperties": false,
        "example": {
          "groups": {
            "in": {
              "position": "left"
            },
            "out": {
              "position": "right"
            }
          },
          "items": [
            {
              "group": "in",
              "id": "port-in-1"
            },
            {
              "group": "out",
              "id": "port-out-1"
            }
          ]
        }
      },
      "EdgeRouter": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "normal",
              "orth",
              "oneSide",
              "manhattan",
              "metro",
              "er"
            ],
            "description": "Built-in router name",
            "maxLength": 1000
          },
          {
            "type": "object",
            "description": "Router with custom configuration",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "enum": [
                  "normal",
                  "orth",
                  "oneSide",
                  "manhattan",
                  "metro",
                  "er"
                ],
                "description": "Router algorithm name",
                "maxLength": 256,
                "pattern": "^[^\\x00-\\x1F]*$"
              },
              "args": {
                "type": "object",
                "description": "Router-specific arguments",
                "additionalProperties": true,
                "properties": {
                  "padding": {
                    "type": "number",
                    "description": "Padding around obstacles for routing"
                  },
                  "step": {
                    "type": "number",
                    "description": "Grid step size for orthogonal routing"
                  },
                  "directions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "top",
                        "right",
                        "bottom",
                        "left"
                      ],
                      "maxLength": 1000
                    },
                    "description": "Allowed routing directions",
                    "maxItems": 1000
                  }
                }
              }
            },
            "additionalProperties": false
          }
        ],
        "description": "Edge routing algorithm configuration for pathfinding",
        "example": {
          "name": "manhattan"
        }
      },
      "EdgeConnector": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "normal",
              "rounded",
              "smooth",
              "jumpover"
            ],
            "description": "Built-in connector name",
            "maxLength": 1000
          },
          {
            "type": "object",
            "description": "Connector with custom configuration",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "enum": [
                  "normal",
                  "rounded",
                  "smooth",
                  "jumpover"
                ],
                "description": "Connector style name",
                "maxLength": 256,
                "pattern": "^[^\\x00-\\x1F]*$"
              },
              "args": {
                "type": "object",
                "description": "Connector-specific arguments",
                "additionalProperties": true,
                "properties": {
                  "radius": {
                    "type": "number",
                    "description": "Radius for rounded connectors"
                  },
                  "precision": {
                    "type": "number",
                    "description": "Precision for smooth connectors"
                  },
                  "size": {
                    "type": "number",
                    "description": "Jump size for jumpover connectors"
                  },
                  "jump": {
                    "type": "string",
                    "enum": [
                      "arc",
                      "gap",
                      "cubic"
                    ],
                    "description": "Jump style for jumpover connectors",
                    "maxLength": 1000
                  }
                }
              }
            },
            "additionalProperties": false
          }
        ],
        "description": "Edge connector style configuration for visual appearance",
        "example": {
          "name": "normal"
        }
      },
      "ThreatModelBase": {
        "type": "object",
        "description": "Base schema for ThreatModel with client-writable fields",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the threat model",
            "minLength": 1,
            "maxLength": 256,
            "pattern": "^[^<>\"'&]*$",
            "x-oapi-codegen-extra-tags": {
              "binding": "required"
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the threat model",
            "maxLength": 2048,
            "pattern": "^[^<>\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "User who owns the threat model (can be null for orphaned models)"
          },
          "threat_model_framework": {
            "type": "string",
            "description": "The framework used for this threat model",
            "pattern": "^[A-Za-z0-9_-]*$",
            "maxLength": 30
          },
          "authorization": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Authorization"
            },
            "description": "List of users and their roles for this threat model",
            "maxItems": 1000
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            },
            "description": "Key-value pairs for additional threat model metadata",
            "nullable": true,
            "maxItems": 100
          },
          "issue_uri": {
            "type": "string",
            "format": "uri",
            "description": "URL to an issue in an issue tracking system for this threat model",
            "maxLength": 1000,
            "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Status of the threat model in the organization's threat modeling or SDLC process. Examples: \"Not started\", \"In progress\", \"Review\", \"Approved\", \"Closed\"",
            "maxLength": 128,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "alias": {
            "type": "array",
            "description": "Alternative names or identifiers for the threat model",
            "items": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30,
              "pattern": "^[a-zA-Z0-9_-]+$"
            },
            "minItems": 1,
            "maxItems": 20,
            "uniqueItems": true
          },
          "security_reviewer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "Security reviewer assigned to this threat model. When set, the security reviewer is automatically added to the authorization list with the owner role. The security reviewer's owner role cannot be removed via authorization changes while they remain assigned as security reviewer. To change the security reviewer's authorization, first unassign them as security reviewer.",
            "nullable": true,
            "type": "object"
          },
          "project_id": {
            "type": "string",
            "format": "uuid",
            "maxLength": 36,
            "nullable": true,
            "description": "Optional reference to the project this threat model belongs to",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "required": [
          "name",
          "owner",
          "authorization",
          "threat_model_framework"
        ],
        "example": {
          "name": "Payment Gateway Threat Model",
          "owner": {
            "principal_type": "user",
            "provider": "github",
            "provider_id": "alice@example.com",
            "display_name": "Alice Johnson",
            "email": "alice@example.com"
          },
          "description": "Threat analysis for payment processing",
          "threat_model_framework": "STRIDE",
          "authorization": [
            {
              "principal_type": "user",
              "provider": "tmi",
              "provider_id": "alice@example.com",
              "display_name": "Alice Anderson",
              "email": "alice@example.com",
              "role": "owner"
            }
          ],
          "alias": [
            "payment-gateway-v2",
            "PG-TM-2024"
          ]
        }
      },
      "ThreatModelInput": {
        "type": "object",
        "description": "Input schema for creating/updating ThreatModel",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the threat model",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "description": "Description of the threat model and its purpose",
            "maxLength": 2048,
            "nullable": true,
            "pattern": "^[^\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "threat_model_framework": {
            "type": "string",
            "description": "The framework used for this threat model",
            "pattern": "^[A-Za-z0-9_-]*$",
            "maxLength": 30
          },
          "authorization": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Authorization"
            },
            "description": "List of users and their roles for this threat model",
            "maxItems": 1000
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            },
            "description": "Key-value pairs for additional threat model metadata",
            "nullable": true,
            "maxItems": 100
          },
          "issue_uri": {
            "type": "string",
            "format": "uri",
            "description": "URL to an issue in an issue tracking system for this threat model",
            "maxLength": 1000,
            "nullable": true,
            "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$"
          },
          "is_confidential": {
            "type": "boolean",
            "description": "If true, threat model is marked as confidential. Can only be set at creation.",
            "default": false
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "example": {
          "name": "Payment Gateway Threat Model",
          "description": "Threat analysis for the payment processing system",
          "threat_model_framework": "STRIDE",
          "metadata": [
            {
              "key": "project",
              "value": "payment-service"
            },
            {
              "key": "version",
              "value": "2.0"
            }
          ],
          "issue_uri": "https://github.com/example/project/issues/123"
        }
      },
      "ThreatBase": {
        "type": "object",
        "description": "Base schema for Threat with client-writable fields",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the threat",
            "maxLength": 256,
            "pattern": "^[^<>\"'&]*$",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "description": "Description of the threat and risk to the organization",
            "maxLength": 2048,
            "pattern": "^[^<>\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "mitigation": {
            "type": "string",
            "description": "Recommended or planned mitigation(s) for the threat",
            "maxLength": 1024,
            "pattern": "^[^\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]*$"
          },
          "diagram_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the associated diagram (if applicable) (UUID)",
            "nullable": true,
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "cell_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the associated cell (if applicable) (UUID)",
            "nullable": true,
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "severity": {
            "type": "string",
            "description": "Severity level of the threat",
            "maxLength": 50,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "score": {
            "type": "number",
            "description": "Numeric score representing the risk or impact of the threat",
            "minimum": 0.0,
            "maximum": 10.0,
            "multipleOf": 0.1
          },
          "priority": {
            "type": "string",
            "description": "Priority level for addressing the threat",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "mitigated": {
            "type": "boolean",
            "description": "Whether the threat has been mitigated"
          },
          "status": {
            "type": "string",
            "description": "Current status of the threat",
            "maxLength": 256,
            "pattern": "^[^\\x00-\\x1F]*$"
          },
          "threat_type": {
            "type": "array",
            "description": "Types or categories of the threat. Supports multiple classifications within the same framework (e.g., ['Spoofing', 'Tampering']). Empty array indicates no types assigned.",
            "items": {
              "type": "string",
              "maxLength": 256,
              "pattern": "^[^\\x00-\\x1F]*$",
              "minLength": 1
            },
            "minItems": 0,
            "maxItems": 20,
            "uniqueItems": true,
            "default": []
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            },
            "description": "Key-value pairs for additional threat metadata",
            "nullable": true,
            "maxItems": 100
          },
          "issue_uri": {
            "type": "string",
            "format": "uri",
            "description": "URL to an issue in an issue tracking system for this threat",
            "maxLength": 1000,
            "pattern": "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\s*$"
          },
          "asset_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the associated asset (if applicable) (UUID)",
            "nullable": true,
            "maxLength": 36,
            "pattern": "^[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*$"
          },
          "cwe_id": {
            "type": "array",
            "description": "CWE (Common Weakness Enumeration) identifiers associated with this threat",
            "items": {
              "type": "string",
              "minLength": 5,
              "maxLength": 16,
              "pattern": "^CWE-[0-9]+$"
            },
            "minItems": 0,
            "maxItems": 50,
            "uniqueItems": true
          },
          "cvss": {
            "type": "array",
            "description": "CVSS scoring information for this threat",
            "items": {
              "$ref": "#/components/schemas/CVSSScore"
            },
            "minItems": 0,
            "maxItems": 10
          },
          "include_in_report": {
            "type": "boolean",
            "description": "Whether this item should be included in generated reports",
            "default": true
          }
        },
        "required": [
          "name",
          "threat_type"
        ],
        "example": {
          "name": "SQL Injection via Payment Form",
          "threat_type": [
            "Tampering"
          ],
          "description": "Attacker could inject malicious SQL through payment form fields",
          "priority": "high",
          "cwe_id": [
            "CWE-89"
          ],
          "cvss": [
            {
              "vector": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H",
              "score": 9.8
            }
          ],
          "include_in_report": true
        }
      },
      "ThreatInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThreatBase"
          }
        ],
        "description": "Input schema for creating/updating Threat",
        "example": {
          "name": "Cross-Site Scripting (XSS)",
          "description": "User input not properly sanitized in dashboard",
          "severity": "Medium",
          "stride_category": "Tampering",
          "status": "Open",
          "metadata": [
            {
              "key": "cwe",
              "value": "CWE-79"
            }
          ],
          "threat_type": [
            "spoofing"
          ],
          "include_in_report": true
        }
      },
      "User": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Principal"
          },
          {
            "type": "object",
[...]
