# Ignore everything
*

# Include specific files and patterns
!.gitignore
!*.md
!*.go
!go.sum
!go.mod
!license.txt
!shared/api-specs/tmi-openapi.json
!static/*
!Makefile
!generate-api
!oapi-codegen-config.yml
!.golangci.yml
!docs/*
!make-containers-dev*.sh
!Dockerfile*
!.dockerignore
!config-example.yml
!tmi-asyncapi.yml

# Include subdirectories (but avoid overriding specific ignores)
!*/
!scripts/**
!shared/**

# Explicitly ignore unwanted files and directories
*.log
**/logs/**
.DS_Store
config-development.yml
scripts/unused
scripts/unused/**
coverage/
coverage_html/
.venv/
.venv/**
**/bin/**
server
check-db
migrate
