# Ignore everything
*

# But not these files...
!/.gitignore
!/*.md
!*.go
!go.sum
!go.mod
!/license.txt
!/tmi-openapi.json
!/.env.example
!/static/*
!Makefile

# ...even if they are in subdirectories
!*/
